<br><br><br>
<table class="found-items-list" border=1>
  <tr ng-repeat="item in menu.foundItems">
    <td>
      <div><strong>Short Name:</strong> {{ item.short_name }}</div>
      <div><strong>Name:</strong> {{ item.name }}</div>
      <div><strong>Description:</strong> {{ item.description }}</div>
    </td>
    <td><button ng-click="menu.onRemove({index: $index});">Don't want this one!</button></td>
  </tr>
</table>
<div class="nothing-found" ng-show="!menu.foundItems || menu.foundItems.length === 0">Nothing found.</div>
